<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632147992472-ie5i386hqirj4pc450ak38sb5omjns4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632147992472-ie5i386hqirj4pc450ak38sb5omjns4e</string>
	<key>API_KEY</key>
	<string>AIzaSyACCTBRuKKPQZ5I0W001f9tIqiSIeFS7zM</string>
	<key>GCM_SENDER_ID</key>
	<string>632147992472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>madz.com.appBreweryTutorial</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6cedc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6cedc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632147992472:ios:6a562f6ee81828517315ed</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-6cedc.firebaseio.com</string>
</dict>
</plist>